<div class="container-fluid">
  <app-sidebar></app-sidebar>
  <div class="content">
      <app-header></app-header>
      <div class="info">
          <div class="card">
              <div class="card-header">
                  Update User
              </div>
              <div class="card-body">
                  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label class="col-form-label">First Name</label>
                          <input type="text" class="form-control" formControlName="firstName" placeholder="Evan" autofocus>
                          <span class="text-danger" *ngIf="firstName.invalid && (firstName.touched || formValid)">
                              Please Enter First Name
                          </span>
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Last Name (Surname)</label>
                          <input type="text" class="form-control" formControlName="lastName" placeholder="Donohue">
                          <span class="text-danger" *ngIf="lastName.invalid && (lastName.touched || formValid)">
                              Please Enter Last Name
                          </span>
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Phone Number</label>
                          <input type="text" class="form-control" formControlName="phoneNumber" placeholder="8923454615">
                          <span class="text-danger" *ngIf="phoneNumber.invalid && (phoneNumber.touched || formValid)">
                              <span *ngIf="phoneNumber.errors?.['required']">
                                  Please Enter Phone Number
                              </span>
                              <span *ngIf="phoneNumber.errors?.['pattern']">
                                  Please Enter Valid Phone Number
                              </span>
                              <span *ngIf="phoneNumber.errors?.['minlength']">
                                  Phone Number should be at least 10 characters long
                              </span>
                              <span *ngIf="phoneNumber.errors?.['maxlength']">
                                  Phone Number should not exceed 10 characters
                              </span>
                          </span>
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Email Address</label>
                          <input type="email" class="form-control" formControlName="emailAddress" placeholder="evan.donohue@gmail.com">
                          <span class="text-danger" *ngIf="emailAddress.invalid && (emailAddress.touched || formValid)">
                              <span *ngIf="emailAddress.hasError('required')">
                                  Please Enter Email Address
                              </span>
                              <span *ngIf="emailAddress.hasError('email')">
                                  Please Enter Valid Email Address
                              </span>
                          </span>
                      </div>
                      <div class="form-group">
                          <label class="col-form-label">Password</label>
                          <input type="password" class="form-control" formControlName="password" placeholder="**********">
                          <span class="text-danger" *ngIf="password.invalid && (password.touched || formValid)">
                              <span *ngIf="password.errors?.['required']">
                                  Please Enter Password
                              </span>
                              <span *ngIf="password.errors?.['minlength']">
                                  Password should be at least 5 characters long
                              </span>
                              <span *ngIf="password.errors?.['maxlength']">
                                  Password should not exceed 10 characters
                              </span>
                          </span>
                      </div>
                      <div class="form-group">
                        <label class="col-form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="**********">
                        <span class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.touched || formValid)">
                          <span *ngIf="confirmPassword.errors?.['required']">
                            Please Enter Confirm Password
                          </span>
                        </span>
                        <span class="text-danger" *ngIf="updateForm.hasError('notmatched') && confirmPassword.valid">
                          Password and Confirm Password do not match
                        </span>
                      </div>
                      <div class="d-grid mt-5">
                          <button class="btnSave" type="submit"><span class="Login">Update</span></button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
