   <!-- <div class="main">
        <h1>Welcome to First Angular App</h1>
        <h3>Enter your login credentials</h3>
        <form action="">
            <label for="first">
                  Username:
              </label>
            <input type="text" 
                   id="first"
                   name="first" 
                   placeholder="Enter your Username" required>

            <label for="password">
                  Password:
              </label>
            <input type="password"
                   id="password" 
                   name="password" 
                   placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit"
                        onclick="solve()">
                    Submit
                </button>
            </div>
        </form>
        <p>Not registered? 
              <a href="#" 
               style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>
 -->
 
<div class="wrapper" style="margin-left: 500px; margin-top: 50px;">
          <div class="title">
             Registration Form
          </div>
          <form action="#">
            <div class="field">
               <input type="text" required>
               <label>First Name</label>
            </div>
            <!-- <p *ngIf=""></p> -->
            <div class="field">
               <input type="text" required>
               <label>Last Name</label>
            </div>
            <div class="field">
               <input type="number" required>
               <label>Phone Number</label>
            </div>
            
             <div class="field">
                <input type="text" required>
                <label>Email Address</label>
             </div>
             <div class="field">
                <input type="password" required>
                <label>Password</label>
             </div>
             <div class="content">
                <div class="checkbox">
                   <input type="checkbox" id="remember-me">
                   <label for="remember-me">Remember me</label>
                </div>
                <div class="pass-link">
                   <a href="#">Forgot password?</a>
                </div>
             </div>
             <div class="field">
                <input type="submit" value="Login">
             </div>
             
          </form>
       </div>
   